{% extends 'base.html.twig' %}

{% block title %}Hello AdminPanelController!{% endblock %}
{% block javascripts %}
    <script type="application/javascript" src="/js/backToHomePage.js"></script>
{% endblock %}
{% block body %}
<select>
    {%for type in system_types %}
    <optgroup label="{{ type }}">
        {% for catalog in catalogs %}
            {% if catalog.system==type %}
            <option>{{ catalog.name }}</option>
            {% endif %}
        {% endfor %}
    </optgroup>
    {% endfor %}
</select>
    <button onClick="goBack()">Wyloguj</button>


{% endblock %}
