{% extends 'base.html.twig' %}

{% block title %}Hello AdminPanelController!{% endblock %}

{% block body %}
    {{ parent() }}
    <ul>
        <li>
            <a href="{{ path('app_editor_panel') }}">Panel edycji</a>
        </li>
        <li>
            <a href="{{ path('app_register') }}">Dodaj użytkownika</a>
        </li>
        <li>
            <a href="#">Lista użytkowników</a>
        </li>

    </ul>

{% endblock %}
