{% extends 'base.html.twig' %}

{% block title %}Hello CatalogsHomeController!{% endblock %}

{% block body %}
<div id="wrapper">
    {{ parent() }}
    <ol>
        {% for producer in producers %}
            <li class="system">{{ producer.name }}

                <ul>
                    {% for catalog in catalogs[producer.name] %}
                    <li class="system"><a href="{{ asset('uploads/catalogs/' ~ catalog.catalogFilename) }}">{{ catalog.system }}</a></li>
                    {% endfor %}
                </ul>

            </li>
        {% endfor %}
        <li class="system">

            <a href="https://docucenter.schueco.com/">Schuco</a>

        </li>
    </ol>
</div>
{% endblock %}
